:root {
    --color-white: #ffffff;
    --color-medium: #246B65;
    --color-v-light: #8BB4B1;
    --color-light: #4E8B87;
    --color-dark: #0A4D48;
    --color-v-dark: #002D2A;
    --color-black: #000000;
}

