@charset "utf-8";
/* CSS Document */

#myfont {
	font-size: 16px;
}

#myspan {
	font-size: 2em;
}

html,body{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#mydiv1 {
	height: 100%;
	width: 100%;
	background-color: aqua;
	padding: 0px;
	margin: 0px;
}